.dashboard{
	display: inline-block;
	vertical-align:bottom;
	padding:0;
}

.light-background{
	background-color:#fff;
	color:#000;
}

.table{
	//background-color:#252830;
	//color:#fff;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text { font: 12px sans-serif; color:#000;}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

