body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-div{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.container {
    min-width: 960px;
    width: auto !important;
    max-width: 1200px;
}

.navbar {
    padding: 0 5px 0 5px;
    border-bottom: 1px solid #1EDCFF;
}

.navbar-brand {
    color: #00;
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 25px;
}

.navbar img {
    width: 40px;
    height: auto;
    padding-top: 17px;
}

.navbar-cluster-info {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    color: #666;
    font-size: 11px;
}

.navbar-cluster-info .text {
    color: #aaa;
    font-size: 16px;
}

.status-light-red {
    color: #ff0100;
    text-shadow: 0 0 3px #ff0100;
}

.status-light-green {
    color: #1cff00;
    text-shadow: 0 0 3px #1cff00;
}

.hud-container {
    background-size: 5px 5px;
    background-image: linear-gradient(to right, #2d2d2d 1px, transparent 1px), linear-gradient(to bottom, #2d2d2d 1px, transparent 1px);
    margin: -15px 0 0 0;
    padding: 15px 0 0 0;
    height: 375px;
}

.stat-line-end {
    padding-top: 3px;
    margin-bottom: 20px;
}

.stat {
    color: #000;
    border-bottom: 1px #424242 solid;
    border-left: 1px #424242 solid;
    margin: 0;
    font-size: 72px;
    height: 81px;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-top: 15px;
}

.stat-text {
    padding: 0 5px 0 5px;
}

.stat-title {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    line-height: 1;
}

.stat-title > .text {
    padding: 5px;
    background-color: #3e3e3e;
    color: #ccc;
}

.sparkline {
    height: 80px;
    width: 100%;
    margin: 0;
}

