body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color:#eee;
}

.list-div{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.container {
    min-width: 960px;
    width: auto !important;
    max-width: 1200px;
}

.navbar {
    padding: 0 5px 0 5px;
    border-bottom: 1px solid #ccc;
    Background-color:#0049B0;
}

.navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 25px;
}

.navbar img {
    width: 40px;
    height: auto;
    padding-top: 17px;
}

.navbar-cluster-info {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    color: #fff;
    font-size: 11px;
}

.navbar-cluster-info .text {
    color: #fff;
    font-size: 16px;
}

.hud-container {
    background-size: 5px 5px;
    background-image: linear-gradient(to right, #2d2d2d 1px, transparent 1px), linear-gradient(to bottom, #2d2d2d 1px, transparent 1px);
    margin: -15px 0 0 0;
    padding: 15px 0 0 0;
    height: 375px;
}

.stat {
    color: #000;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    margin: 0;
    font-size: 72px;
    height: 81px;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-top: 15px;
}

.stat-text {
    padding: 0 5px 0 5px;
}

.stat-title {
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    line-height: 1;
}

.stat-title > .text {
    padding: 5px;
    background-color: #ccc;
    color: #fff;
}

.sparkline {
    height: 80px;
    width: 100%;
    margin: 0;
}

.dashboard{
	display: inline-block;
	vertical-align:bottom;
	padding:0;
}
